.jumbotron {
	margin-top: 70px;
	padding: 25px,20px;
	font-family: 'Lora', serif;
}

.panel-heading{
	font-size: 18px;
	font-weight: bold;
}

.panel-body{
	padding: 15px;
}

#projects {
	background-color: white;
	border-radius: 5px;
	margin-bottom: 20px;
}

#projects div div{
	padding:15px;
}

#photo{
	border: 6px gray solid;
	height: 220px;
	margin-left: 40px;
}

#visa{
	background-color: rgb(223, 240, 216);
}

#visa span{
	font-size: 17px;
	font-weight: bold;
	color: rgb(60,118,65);
}

body {
	background-color: rgb(204, 255, 255);
	padding-bottom: 60px;
}
