.jumbotron {
	margin-top: 70px;
	padding: 25px,20px;
	font-family: 'Signika Negative', sans-serif;
}

.panel-heading{
	font-size: 18px;
	font-weight: bold;
}

.panel-body{
	padding: 15px;
}

#projects {
	background-color: white;
	border-radius: 5px;
	margin-bottom: 20px;
}

#projects div div{
	padding:15px;
}

#photo{
	border: 6px gray solid;
	height: 220px;
	margin-left: 40px;
}

body {
	background-color: rgb(204, 255, 255);
	padding-bottom: 60px;
}
